/* couleurs
orange logo #fda847
grenat #99194c
bleu-gris liens #00667f

 reset vite fait */
body,h1,h2,h3,h4,h5,h6 {
font-family: sans-serif;
margin:0;
padding:0;
}
img { border:none; }

body {
background:#fff;
color:#333;
font: 500 1.125em/1.5 georgia, serif;
}

a:link {
text-decoration:underline;
}

a:visited {
color:#666;
}

h2 a:link,
h2 a:visited {
text-decoration:none;
}

h2 a:hover,
h2 a:focus,
h2 a:active {
text-decoration:underline;
}

h1,
.h1 {
font-size:125%;
font-weight:700;
}

h2,
.h2 {
font-size:11    0%;
font-weight:700;
}

h3,
.h3 {
font-size:100%;
font-weight:700;
}

.hneutre {
font-size:100%;
}

code,pre {
color:#00a;
}

pre,
.spip_documents {
background:#f6f6f6;
display:block;
float:none !important;
overflow:auto;
width:auto !important;
}

.hideme {
border:0 !important;
clip:rect(1px, 1px, 1px, 1px);
height:1px !important;
overflow:hidden;
padding:0 !important;
position:absolute !important;
width:1px !important;
}
.langswitcher { border-top:1px solid silver; border-bottom:1px solid silver; }

#boussole form{
margin: 0 0 1em;
}

#nodesign {
background:#666;
color:#fff;
padding:.3em;
}

#container {
margin:1em auto;
min-width:750px;
width:90%;
}

#logo {
float:left;
position:relative;
width:241px;
}

#logo .baseline {
font-size:70%;
left:30px;
letter-spacing:.04em;
position:absolute;
top:70px;
}

#logo a:link,
#logo a:visited,
#logo .baseline {
text-decoration:none;
}

#nav {
float:right;
margin-top:1em;
}

#nav ul,
#footer ul {
list-style:none;
margin:0;
padding:0;
}

#nav li,
#footer li {
display:inline;
}

#nav ul a:link,
#nav ul a:visited,
#nav ul strong,
#footer ul a:link,
#footer ul a:visited {
display:inline-block;
padding:.3em;
}

#nav ul strong {
color:#FDA847;
font-weight:400;
}

#footer {
clear:both;
color:#444;
font-size:80%;
}

#content {
clear:both;
overflow:auto;
padding-bottom:1em;
padding-top:1em;
}

#boussole {
float:left;
font-size:80%;
margin-top:4em;
width:18%;
}

#boussole ul {
list-style:none;
margin:0 0 .5em;
padding:0;
}

#boussole li {
display:inline;
}

#boussole a:link,#boussole a:visited {
display:block;
padding:.2em;
text-decoration:none;
}

#boussole a:hover,
#boussole a:active,
#boussole a:focus {
text-decoration: underline;
color:#000;
}

#boussole strong:after {
content:" »";
}

#recherche {
width:80%;
}

#lancerecherche {
background:#fff;
border:none;
margin:0;
padding:0;
width:18px;
}

#recherche,
#lancerecherche {
display:table-cell;
vertical-align:bottom;
}

#lancerecherche img {
display:block;
}

#une,
#article {
float:left;
margin-left:2%;
padding-bottom:1em;
width:50%;
}

#une .chapo {
margin-bottom:1em;
}

#unesecondaire,
#about {
float:right;
width:28%;
}

#unesecondaire h1.rub9 {
margin-top:1em;
}

.article .chapo {
border-bottom:1px solid #FDA847;
color:#666;
font-weight:700;
line-height:1.5;
}

.texte {
line-height:1.5;
margin-top:1em;
}

.notes {
border-top:1px solid #FDA847;
}

#about ul {
font-size:75%;
list-style:none;
margin:1em 0;
padding:0;
}

#about li {
margin:0 0 1em;
padding:0;
}

.logo_auteur {
background:#fff;
border:1px solid #ccc;
float:right;
margin-bottom:10px;
margin-left:20px;
padding:2px;
}

p[lang] {
font-style:italic;
}

#forum {
border-top:1px solid #FDA847;
clear:both;
}

#forum h2 {
margin-left:20%;
margin-top:1em;
}

.forum-total,.forum-meta {
list-style:none;
margin:0;
padding:0;
}

li.forum {
clear:left;
margin-top:1em;
}

#forum h3 {
display:block;
text-transform:inherit;
}

.forum-titre {
float:left;
margin-top:1em;
width:18%;
}

.forum-texte {
border-top:1px solid #ccc;
margin-left:20%;
margin-top:1em;
}

.forum-repondre {
text-align:right;
}

#forum-suite {
border-top:1px solid #ccc;
clear:both;
margin-left:20%;
margin-top:1em;
}