/*
 * Comme il est indiqué dans les conditions de réutilisation
 * (http://openweb.eu.org/openwebgroup/licence/), les éléments
 * graphiques et le design du site (et donc cette feuille de styles CSS
 * et les images) restent la propriété exclusive de leurs auteurs
 * respectifs conformément aux droits d'auteur. Toute réutilisation
 * devra faire l'objet d'une demande préalable
 * (email:editorial@openweb.eu.org).
 * Il est de plus dans votre intêret d'avoir un site au design original,
 * pour qu'il ait sa propre identité visuelle, plutôt qu'un design
 * plagié...
 */ 
body{
background-color:#fff;
color:#000;
font-family:"Times New Roman",Times,serif;
font-size:11pt;
margin:0;
padding:0;
line-height:125%;
}

#texte a:after {
content:" ("attr(href)")";
}

acronym {
border-style:none;
}

/*acronym.premier:after {
content:" ("attr(title)") ";
font-variant:small-caps;
}*/

#texte acronym.premier:before {
content: attr(title)" (";
}

#texte acronym.premier:after {
content: ")";
}


code,pre{
font-family:"Courier New",Courier,monospace;
font-size:11pt;
color:#1a4f00;
background-color:#fff;
}

pre{
border-left:3pt solid #999;
padding:5mm 5mm;
margin-left:5mm;
}

blockquote,q{
font-style:italic;
quotes:'\0000ab\0000a0' '\0000a0\0000bb' '\00201c\0000a0' '\0000a0\00201d';
}

hr{
display:none;
}

h1,h2,h3,h4,h5,caption,thead{
font-family:Arial,Helvetica,sans-serif;
}

h1{
font-size:17pt;
}

h2{
color:#333;
background-color:#fff;
font-size:15pt;
line-height:200%;
border-bottom:2pt solid #333;
text-transform:uppercase;
}

h3{
font-size:13pt;
margin-top:3%;
margin-bottom:0%;
}

#texte h3 code{
color:#000;
background-color:#fff;
font-size:1em;
}

h4,h5{
font-size:10pt;
margin-top:3%;
margin-bottom:0%;
}

h4{
border-bottom:1pt solid #000;
}

caption{
font-size:10pt;
color:#000;
background-color:#aaa;
margin:3pt 0;
}

thead{
font-size:10pt;
color:#000;
background-color:#ccc;
}

table,td{
border:1pt solid #666;
border-collapse:collapse;
padding:3pt;
}

/**********************************************************************/
span.patronyme{
font-variant:small-caps;
font-size:1.1em;
}
/**********************************************************************/

#moteur,#accessible,#menus,#profil,#ressources,#ours{
display:none;
}

/* --------------- */
#logo{
text-align:center;
}

#logo img{
border:0;
}

/* --------------- */
#texteaccueil,#texte{
margin:0;
padding:0;
}

#texte .auteur{
font-family:Arial,Helvetica,sans-serif;
font-size:10pt;
}

/**********************************************************************/
#texte span.attention, #texte span.important, #texte span.note, #texte span.astuce{
font-variant:small-caps;
font-size:1.1em;
}
/**********************************************************************/
