@charset "UTF-8";

/*
 * Comme il est indiqué dans les conditions de réutilisation
 * (http://openweb.eu.org/openwebgroup/licence/), les éléments
 * graphiques et le design du site (et donc cette feuille de styles CSS
 * et les images) restent la propriété exclusive de leurs auteurs
 * respectifs conformément aux droits d'auteur. Toute réutilisation
 * devra faire l'objet d'une demande préalable
 * (email:editorial@openweb.eu.org).
 * Il est de plus dans votre intérêt d'avoir un site au design original,
 * pour qu'il ait sa propre identité visuelle, plutôt qu'un design
 * plagié.
 */
 
#icone_travaux{
display: none;
}

/* Définitions générales */
body{
background:#c8c4b7;
color:#333;
font: 500 1em/1.5 Georgia,sans-serif;
margin:0;
padding: 0 0 1em;
}

a,
a.spip_in,
a.spip_out,
a.spip_url,
dt cite a:hover{
color: #1a7096;
text-decoration: underline;
}

dt cite a,
a:hover{
text-decoration: none;
}

acronym{
cursor:help;
border-bottom:1px dotted;
}

code,
pre{
color:#000;
background-color:#fef0c4;
font-family:"Courier New",Courier,monospace;
font-size:small;
}

pre{
border-left:5px solid #f978a9;
padding:0.5em 1em;
margin-left:2em;
}

#texte pre{
overflow: auto;
}

blockquote,q{
font-style:italic;
quotes:'\0000ab\0000a0' '\0000a0\0000bb' '\00201c\0000a0' '\0000a0\00201d';
}

samp{
font-size:small;
color:#000;
background-color:#d6e1ec;
}

caption{
margin:1em 0;
background-color:#ccc;
font-weight:700;
}

thead{
background-color:#eee;
}

table{
margin-top:1em;
}

table,
td{
border-collapse:collapse;
border:1px solid;
padding:0.2em;
}

h1, h2, h3, h4, h5, h6{
font-weight: 500;
}

input,
textarea,
select{
border: 0;
}

input:active,
input:focus,
textarea:active,
textarea:focus,
select:active,
select:focus{
outline: 2px solid #5c574d;
}

input[type="submit"]{
background: #9a9486;
border: 2px solid #5c574d;
color: #fff;
}

/**********************************************************************/
span.patronyme{
font-variant:small-caps;
}

/* Définitions des éléments dans l'ordre du code XHTML */

#bandeau{
background: #efede7 url(page.png) no-repeat 0 0;
border-bottom: 5px solid #575548;
margin: 0 -3em 1em;
min-height: 11em;
position: relative;
}

#page{
background: #fff;
box-shadow: 0 7px 7px rgba(0, 0, 0, 0.3);
margin: 0 auto;
max-width: 98%;
min-height:55em;
padding: 0 3em;
position: relative;
width: 54em;
}

#accessible{
font: 500 .75em/normal arial, helvetica, sans-serif;
left:2em;
margin:0;
padding:0;
position:absolute;
top:1.5em;
}

#accessible ul{
margin:0 0 0 1em;
padding:0;
float:left;
}

#accessible li{
display:inline;
margin:0 1em 0 0;
}

#accessible a{
background-color:transparent;
color:#91896e;
}

#accessible a:hover{
color: #333;
text-decoration:none;
}

#switcher{
display: none;
margin:0;
padding:0;
}

#habillage label{
vertical-align:top;
margin-left:0.5em;
color:#fff;
background-color:transparent;
}

#habillage input{
border:1px solid #fff;
color:#fff;
background-color:#f90;
font-weight:700;
}

#habillage input:hover{
color:#036;
background-color:#d6e1ec;
cursor:pointer;
}

#moteur{
position:absolute;
right:2em;
top:1em;
text-align:right;
}

#moteur input.champs,
#texte form input.champs{
width:12em;
}

#moteur input.valid,
#texte form input.valid{
cursor:pointer;
}

#moteur input.valid:hover,
#texte form input.valid:hover{
}

#logo{
}

#logo img{
border:0;
visibility: hidden;
}

h1{
margin: 0;
}

/*#menus{

}*/

#accueil{
position:absolute;
right:2em;
text-align:center;
top:8em;
}

#accueil ul{
margin:0;
padding:0;
}

#accueil li{
display:inline;
margin:0 0 0 .5em;
padding:0;
}

#accueil a{
color:#686151;
background-color:transparent;
padding: .25em;
text-decoration:none;
}

#accueil a:hover{
background-color:#000;
color:#fff;
}

/* --------------- */
#sectionmenus{
margin: 2em 0 0;
width:17.91666666666667%;
}

/* --------------- */

#sectionmenus h2{
font: 500 1.125em georgia, serif;
margin: 0 0 .5em;
}

#sectionmenus ul{
margin: 0 0 2em;
padding: 0;
}

#sectionmenus li{
list-style:none;
}

#sectionmenus a{
margin-left:0;
text-decoration:none;
}

#sectionmenus a:hover,
#blogs a:hover{
text-decoration: underline;
}

/* --------------- */

#ours{
background: #efede7;
clear:both;
margin: 0 -3em;
padding: 1em 3em;
}

#ours ul{
margin:0;
padding:0;
}

#ours li{
border-right:1px solid #036;
display:inline;
margin:0 0.5em 0 0;
padding:0 0.5em 0 0;
}

#ours li.dernier{
border:0;
}

#ours a{
}

#ours a:hover{
}

/* Listes de documents */
dl.listedocs{
}

dl.listedocs dt:before{
border-top: 1px dashed #575548;
content:"";
display:block;
margin: 0 0 1em;
width: 50%;
}

dl.listedocs dt{
font: 500 .75em Verdana, Geneva, Arial, Helvetica, sans-serif;
margin: 1em 0;
padding: 1em 0 0;
}

dl.listedocs dt:first-child,
dl.listedocs dt:first-child:before{
border: 0;
margin: 0;	
padding: 0;
}

dl.listedocs dt cite{
display:block;
font: 500 1.6667em Georgia, sans-serif;
margin: 0 0 .25em;
}

dl.listedocs dd{
margin:0;
}

dl.listedocs p{
margin:0;
}

/* Page d'accueil */
#texteaccueil{
float: right;
margin: 0 0 4em;
width: 80%;
}

#intro{
float:right;
margin-left:1%;
width:30%;
}

#presentation{
background: #efede7;
font-style: italic;
font-size: .875em;
margin: 0 -3.428571428571429em 0 0;
padding: 0.5em 3.428571428571429em 0.5em 1em;
}

#presentation h2{
margin:0;
}

#presentation p{
margin:0.5em 0;
}

#presentation a{
color:#c60;
}

#humeur{
border:1px solid #69c;
margin:0;
padding:0 1em 1em 1em;
}

#humeur h2{
margin:0 0 0.5em 0;
padding:0.4em 0.2em 0.2em 0.2em;
width:55%;
}

#humeur p{
margin:0;
}

#humeur .listedocs,
#articles .listedocs{
border:none;
margin:0;
margin-bottom: 0.2em;
padding:0;
}

#humeur .listedocs dt,
#articles .listedocs dt{
margin-top:0;
}

#humeur .listedocs cite,
#articles .listedocs cite{
border-bottom:none;
}

/* ---- debut blog --- */
#blogs{
margin:1em 0;
padding:0
}

#blogs h2{
border-bottom: 2px solid;
margin:0;
padding:0;
}

#blogs ul{
font-size: .875em;
list-style:none;
margin:0;
padding:0;
}

#blogs ul li{
font-style: italic;
margin:0;
padding: .5em 0;
border-top:1px dashed;
}

#blogs ul li:first-child{
border: 0;
}

#blogs a{
font-style: normal;
}

/* ---- fin blog --- */

#articles .listedocs{
background:transparent;
color:inherit;
}

#actualite{
margin-bottom:2em;
}

#actualite,
#articles{
padding:0 2%;
width:100%;
voice-family:"\"}\"";
voice-family:inherit;
width:63%;
}

html>body #actualite,
html>body #articles{
width:63%;
}

#actualite h2{
padding:0;
}

#actualite h3{
margin:0;
}


#actualite p.date{
margin:0.2em 0 1em 0;
font-size: .875em;
}

#actualite p,
#articles p{
margin:0 0 1.5em;
}

#actualite a,
#articles a,
.listedocs a{
background-color:transparent;
}

#articles{
}

#articles h2{
}

#texteaccueil p.tous {
text-align:right;
}

#texteaccueil p.tous a{
background-color:#ccc;
padding:0.2em;
text-decoration:none;
}


/* Pages intérieures */
#texte{
float: right;
margin: 0 0 4em;
width: 80%;
}

#texte a[hreflang]:after{
content:"\0000a0[" attr(hreflang) "]";
}

#texte .abstract{
background: #efede7;
border: solid #575548;
border-width: 3px 0;
font-style: italic;
display: block;
margin: 0 0 2em;
padding: 1em;
}

#texte p{
margin:0 0 1.5em;
}

#texte .abstract h3,
#texte .abstract hr{
display: none;
}

#texte .abstract p{
margin: 0;
}

#texte .abstract em{
font-weight:700;
font-style:normal;
background-color:transparent;
}

#texte .auteur{
font-size: .875em;
margin: 0 0 .5em;
font-variant: small-caps;
}

#texte .auteur ul{
padding:0;
margin: 0;
}

#texte .auteur li{
list-style:none;
display: inline;
}

#texte .auteur li:before{
content: " — ";
}

#texte .auteur li:first-child:before{
content: "";
}

#texte .auteur li.dernier{
border-bottom:0;
}

#texte .auteur strong{
}

/**********************************************************************/
#texte div.attention,
#texte div.important,
#texte div.note,
#texte div.astuce{
background-color: #efede7;
border-top: 3px solid #575548;
padding: 1em;
}

#texte span.attention,
#texte span.important,
#texte span.note,
#texte span.astuce{
font-variant:small-caps;
font-size:1.1em;
}
/**********************************************************************/

#texte hr{
display:none;
}

#texte li{
list-style:disc;
}

#texte ul ul li{
list-style-type:circle;
}

#texte ol li{
list-style-type:decimal;
}

#texte h3,
#texte .resultat dt{
}

#texte h2{
border-top: 2px solid;
font-size: 1.25em;
text-transform: uppercase;
line-height: 2em;
}

#texte h2:first-child{
border: 0;
font-size: 1.875em;
font-size: 2em;
line-height: 1.2;
text-transform: none;
}

#texte h3 code{
color:inherit;
background-color:transparent;
}

#texte h3 {
font: 700 1.5em/normal calibri, arial, sans-serif;
margin: 2em 0 .5em;
}

#texte h4{
font: 700 1.125em/normal calibri, arial, sans-serif;
margin: 0;
}

#texte h5{
font: 700 1.375em/normal calibri, arial, sans-serif;
margin: 2em 0 .5em;
}

#texte h6{
font: 500 1em/normal calibri, arial, sans-serif;
margin: 1em 0;
text-transform: uppercase;
}

#texte .resultat dt{
font-size:1.125em;
margin:0;
}

/* Formulaire dans le texte */
#texte form{
margin:0 0 1em;
}

#texte form fieldset{
background: #efede7;
border-top: 3px solid #2ca9c5;
border: 0;
margin: 0 0 1em;
padding: 1em 2em;
}

#texte form legend{
text-transform: uppercase;
}

#texte form ul{
margin: 0;
padding: 0;
}

#texte form li{
list-style: none;
}

#texte form label{
display:block;
font-weight: 700;
margin:0.5em 0;
}

.formulaire_ecrire_auteur fieldset {
display: table;
}

.formulaire_ecrire_auteur p {
display: table-row;
}
.formulaire_ecrire_auteur p.spip_bouton {
display: block;
}

.formulaire_ecrire_auteur label,
.formulaire_ecrire_auteur input,
.formulaire_ecrire_auteur textarea {
display: table-cell;
vertical-align: top;
}

/* .formulaire_ecrire_auteur label {
max-width: 3ex;
}

.formulaire_ecrire_auteur input,
.formulaire_ecrire_auteur textarea {
min-width: 30ex;
width: auto;
} */

p.reaction {
margin-bottom: 2em;
}

/* === Commentaires sur articles === */
ul.forum {
margin: 0;
padding: 0;
}

ul.forum  ul{
margin: 0;
padding: 0;
}

#texte ul.forum li {
background: #efede7;
list-style: none;
margin: 0 0 1em;
padding: 1em;
}

div.forum-chapo {
background: #fff;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px; 
display: block;
font-weight: 700;
padding: 1em;
margin: 0 0 1em;
}

ul.forum small {
}

div.forum-message {
}

div.forum-texte {
margin: 0 1em;
}

#texte p.repondre{
margin: 0;
text-align: right;
}