/*
 * Comme il est indiqué dans les conditions de réutilisation
 * (http://openweb.eu.org/openwebgroup/licence/), les éléments
 * graphiques et le design du site (et donc cette feuille de styles CSS
 * et les images) restent la propriété exclusive de leurs auteurs
 * respectifs conformément aux droits d'auteur. Toute réutilisation
 * devra faire l'objet d'une demande préalable
 * (email:editorial@openweb.eu.org).
 * Il est de plus dans votre intérêt d'avoir un site au design original,
 * pour qu'il ait sa propre identité visuelle, plutôt qu'un design
 * plagié.
 */
 
#icone_travaux{
display: none;
}

/* Définitions générales */
body{
background:#c8c4b7;
color:#444;
font: 500 1em/1.5 Georgia,sans-serif;
margin:0;
padding: 0 0 1em;
}

a {
color: #1a7096;
}

acronym.premier{
cursor:help;
border-bottom:1px dotted #369;
}

code,
pre{
color:#666;
background-color:#fef0c4;
font-family:"Courier New",Courier,monospace;
font-size:small;
}

#texte pre{
overflow: auto;
}

pre{
border-left:5px solid #f978a9;
padding:0.5em 1em;
margin-left:2em;
}

blockquote,q{
font-style:italic;
quotes:'\0000ab\0000a0' '\0000a0\0000bb' '\00201c\0000a0' '\0000a0\00201d';
}

samp{
font-size:small;
color:#000;
background-color:#d6e1ec;
}

caption{
margin:1em 0;
background-color:#ccc;
font-weight:700;
}

thead{
background-color:#eee;
}

table{
margin-top:1em;
}

table,
td{
border-collapse:collapse;
border:1px solid;
padding:0.2em;
}

h1, h2, h3, h4, h5, h6{
font-weight: 500;
}

/**********************************************************************/
span.patronyme{
font-variant:small-caps;
}

/* Définitions des éléments dans l'ordre du code XHTML */
#page{
background: #fff url(page.png) no-repeat 0 0;
box-shadow: 0 7px 7px rgba(0, 0, 0, 0.3);
margin: 0 auto;
max-width: 100%;
min-height:55em;
padding: 5em 3em 0;
position: relative;
width: 50em;
}

#accessible{
font: 500 .75em/normal arial, helvetica, sans-serif;
left:2em;
margin:0;
padding:0;
position:absolute;
top:1.5em;
width:100%;
}

#accessible ul{
margin:0 0 0 1em;
padding:0;
float:left;
}

#accessible li{
display:inline;
margin:0 1em 0 0;
}

#accessible a{
background-color:transparent;
color:#91896e;
}

#accessible a:hover{
color: #333;
text-decoration:none;
}

#switcher{
display: none;
margin:0;
padding:0;
}

#habillage label{
vertical-align:top;
margin-left:0.5em;
color:#fff;
background-color:transparent;
}

#habillage input{
border:1px solid #fff;
color:#fff;
background-color:#f90;
font-weight:700;
}

#habillage input:hover{
color:#036;
background-color:#d6e1ec;
cursor:pointer;
}

#moteur{
position:absolute;
right:2em;
top:1em;
text-align:right;
}

#moteur input.champs,
#texte form input.champs{
width:12em;
}

#moteur input.valid,
#texte form input.valid{
cursor:pointer;
}

#moteur input.valid:hover,
#texte form input.valid:hover{
}

#logo{
}

#logo img{
border:0;
visibility: hidden;
}

h1{
margin: 0;
}

/*#menus{

}*/

#accueil{
position:absolute;
right:2em;
text-align:center;
top:8em;
}

#accueil ul{
margin:0;
padding:0;
}

#accueil li{
display:inline;
margin:0 0 0 .5em;
padding:0;
}

#accueil a{
color:#686151;
background-color:transparent;
padding: .25em;
text-decoration:none;
}

#accueil a:hover{
background-color:#000;
color:#fff;
}

/* --------------- */
#sectionmenus{
left:2em;
position:absolute;
top:15em;
width:20%;
}

/* --------------- */

#sectionmenus h2{
font: 500 1.125em georgia, serif;
margin: 0 0 .5em;
}

#sectionmenus ul{
margin: 0 0 2em;
padding: 0;
}

#sectionmenus li{
display:inline;
list-style:none;
}

#sectionmenus a{
display:block;
margin-left:0;
text-decoration:none;
}

#sectionmenus a:hover{
text-decoration: underline;
}

/* --------------- */

#ours{
background: #efede7;
margin: 0 -3em;
padding: 1em 3em;
}

#ours ul{
margin:0;
padding:0;
}

#ours li{
border-right:1px solid #036;
display:inline;
margin:0 0.5em 0 0;
padding:0 0.5em 0 0;
}

#ours li.dernier{
border:0;
}

#ours a{
}

#ours a:hover{
}

/* Listes de documents */
dl.listedocs{
}

dl.listedocs dt{
font: 500 .75em Verdana, Geneva, Arial, Helvetica, sans-serif;
margin: 0 0 1em;
}

dl.listedocs dt cite{
display:block;
font: 500 1.6667em Georgia, sans-serif;
margin: 0 0 .25em;
}

dl.listedocs dd{
margin:0 0 2em;
}

dl.listedocs p{
margin:0;
}

/* Page d'accueil */
#texteaccueil{
margin:0 2% 2em 20%;
}

#intro{
float:right;
margin-left:1%;
width:30%;
}

#presentation{
background: #efede7;
font-style: italic;
font-size: .875em;
margin: 0 -4.5714285714em 0 0;
padding: 0.5em 2.2857142857em 0.5em 1em;
}

#presentation h2{
margin:0;
}

#presentation p{
margin:0.5em 0;
}

#presentation a{
color:#c60;
background-color:transparent;
}

#presentation a:hover{
color:#369;
background-color:transparent;
}

#humeur{
border:1px solid #6699cc;
margin:0;
padding:0 1em 1em 1em;
}

#humeur h2{
margin:0 0 0.5em 0;
padding:0.4em 0.2em 0.2em 0.2em;
width:55%;
}

#humeur p{
margin:0;
}

#humeur .listedocs,
#articles .listedocs{
border:none;
margin:0;
margin-bottom: 0.2em;
padding:0;
}

#humeur .listedocs dt,
#articles .listedocs dt{
margin-top:0;
}

#humeur .listedocs cite,
#articles .listedocs cite{
border-bottom:none;
}

#humeur .listedocs dt cite a{
}

/* ---- debut blog --- */
#blogs{
color:#fff;
background:#7595c8;
border:1px solid #fff;
border-bottom:10px solid #f90; /* #aeb200; */
margin:1em 0;
padding:0.5em 1em;
padding:0
}

#blogs h2{
margin:0;
padding:0.5em 1em
}

#blogs p{
margin:0.5em 0;
color:#fff;
}

#blogs ul{
list-style:none;
margin:0;
padding:0;
border-bottom: 5px solid #fff;
}

#blogs ul li{
margin:0;
padding:0.7em 0.5em 0.8em 10px;
border-bottom:1px dotted #c8e4e8;
}

#blogs ul li:hover{
background:#5a82bd url("puce_blog.png") no-repeat 0 10px;
}

#blogs ul li:hover a {
text-decoration:none;
}

#blogs a{
color:#fff;
background:transparent;
font-weight:700
}

#blogs a:hover{
text-decoration:none;
color: #fff;
}

/* ---- fin blog --- */

#articles .listedocs{
background:transparent;
color:inherit;
}

#actualite{
margin-bottom:2em;
}

#actualite,
#articles{
padding:0 2%;
width:100%;
voice-family:"\"}\"";
voice-family:inherit;
width:63%;
}

html>body #actualite,
html>body #articles{
width:63%;
}

#actualite h2{
padding:0;
}

#actualite h3{
margin:0;
}


#actualite p.date{
margin:0.2em 0 1em 0;
font-size: .875em;
}

#actualite p,
#articles p{
margin:0 0 2em 0;
}

#actualite a,
#articles a,
.listedocs a{
background-color:transparent;
}

#articles{
}

#articles h2{
}

#texteaccueil p.tous {
text-align:right;
}

#texteaccueil p.tous a{
background-color:#ccc;
padding:0.2em;
text-decoration:none;
}


/* Pages intérieures */
#texte{
margin:0 0 3em 24%;
}

#texte a[hreflang]:after{
content:"\0000a0[" attr(hreflang) "]";
}

#texte .abstract{
background: #efede7;
border: solid #575548;
border-width: 3px 0;
font-style: italic;
display: block;
margin: 0 0 2em;
padding: 1em;
}

#texte p{
margin:0 0 2em;
}

#texte .abstract h3,
#texte .abstract hr{
display: none;
}

#texte .abstract p{
margin: 0;
}

#texte .abstract em{
font-weight:700;
font-style:normal;
background-color:transparent;
}

#texte .auteur{
font-size: .75em;
margin: 0 0 0.5em;
font-variant: small-caps;
}

#texte .auteur ul{
padding:0;
margin: 0;
}

#texte .auteur li{
list-style:none;
display: inline;
}

#texte .auteur li.dernier{
border-bottom:0;
}

#texte .auteur strong{
}

/**********************************************************************/
#texte div.attention,
#texte div.important,
#texte div.note,
#texte div.astuce{
color:#000;
background-color:transparent;
border:1px dotted #69c;
padding:1em;
}

#texte span.attention,
#texte span.important,
#texte span.note,
#texte span.astuce{
font-variant:small-caps;
font-size:1.1em;
}
/**********************************************************************/

#texte hr{
display:none;
}

#texte li{
list-style:disc;
}

#texte ul ul li{
list-style-type:circle;
}

#texte ol li{
list-style-type:decimal;
}

#texte h3,
#texte .resultat dt{
}

#texte h2{
font-size: 1.875em;
font-size: 2em;
line-height: 1.2;
}

#texte h3 code{
color:inherit;
background-color:transparent;
}

#texte h3,
#texte .resultat dt{
font-size:1.125em;
margin:0;
}

#texte h4,
#texte h5{
font-variant: small-caps;
font-weight: 700;
margin: 0;
}

#texte a{
color: #1a7096;
}

#texte a:hover{
text-decoration:none;
}

/* Formulaire dans le texte */
#texte form{
margin:2.5em 0;
}

#texte form label{
color:#369;
background-color:transparent;
margin:0.5em 0;
}

.formulaire_ecrire_auteur fieldset {
  display: table;
}

.formulaire_ecrire_auteur p {
  display: table-row;
}
.formulaire_ecrire_auteur p.spip_bouton {
  display: block;
}

.formulaire_ecrire_auteur label,
.formulaire_ecrire_auteur input,
.formulaire_ecrire_auteur textarea {
  display: table-cell;
  vertical-align: top;
}

/* .formulaire_ecrire_auteur label {
  max-width: 3ex;
}

.formulaire_ecrire_auteur input,
.formulaire_ecrire_auteur textarea {
  min-width: 30ex;
  width: auto;
} */

p.reaction {
margin-bottom: 2em;
}

/* === Commentaires sur articles === */
ul.forum {
margin: 0;
padding: 0;
}

ul.forum  ul{
margin: 0;
padding: 0;
}

#texte ul.forum li {
list-style: none;
}

div.forum-chapo {
color: #369;
font-weight: 700;
}

ul.forum small {
font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
}

div.forum-message {
}

div.forum-texte {
}

div.forum-texte .repondre{
margin-top: 0;
text-align: right;
}