/*
 * Comme il est indiqué dans les conditions de réutilisation
 * (http://openweb.eu.org/openwebgroup/licence/), les éléments
 * graphiques et le design du site (et donc cette feuille de styles CSS
 * et les images) restent la propriété exclusive de leurs auteurs
 * respectifs conformément aux droits d'auteur. Toute réutilisation
 * devra faire l'objet d'une demande préalable
 * (email:editorial@openweb.eu.org).
 * Il est de plus dans votre intêret d'avoir un site au design original,
 * pour qu'il ait sa propre identité visuelle, plutôt qu'un design
 * plagié...
 */ 
body{
font-family:Helvetica, Verdana, Arial, sans-serif;
margin:0;
padding:1%;
background-color:#FFFFFF;
background-image:url("fond.png");
background-repeat:repeat;
color:#333333;
}

a{
text-decoration:none;
font-family:Georgia, Times, serif;
font-weight:bold;
color:#FFFFFF;
}

a:hover{
text-decoration:underline;
direction:rtl;
unicode-bidi:bidi-override;
}

a, img{
border-style:none;
}

h1{
margin:0;
padding:0;
font-size:150%;
}

h2{
font-size:135%;
}

h3{
font-size:120%;
text-decoration:underline;
}

h4{
font-size:105%;
}

q{
quotes:none;
}

acronym.premier{
border-bottom:1px dashed #333333;
cursor:help;
}

hr{
display:none;
}

#logo, #moteur, #accessible, #texteaccueil, #texte, #menus, #ours{
padding:1ex;
margin:0;
color:#FFFFFF;
border:3px solid black;
}

#logo{
float:left;
padding:0;
margin:0;
background-color:#FFFFFF;
}

#logo h1{
padding:0;
margin:0;
}

#logo a{
color:#333333;
background-color:#FFFFFF;
}

#texteaccueil, #texte{
background-color:#0000CC;
float:left;
width:70%;
}

h2{
font-variant:small-caps;
text-decoration:underline;
}

#texteaccueil ul, #texte ul{
list-style-type:circle;
}

#accessible ul, #menus ul, #ours ul{
padding:1em 0;
margin:0;
list-style-type:none;
}

#accessible h2, #menus h2{
padding:0;
margin:0;
}

#accessible, #moteur{
float:right;
width:20%;
}

#accessible{
background-color:#CC0000;
}

#moteur{
background-color:#FFFFFF;
color:#000000;
}

#accessible label, #moteur label{
display:block;
}

#menus{
background-color:#FF9900;
float:left;
width:20%;
}

#menus h2{
font-size:100%;
color:black;
}

#ours{
background-color:#006600;
clear:both;
width:90%;
float:right;
}

#ours ul{
display:table;
width:100%;
padding:0;
margin:0;
}

#ours li{
display:table-cell;
text-align:center;
}
