/*
 * Comme il est indiqué dans les conditions de réutilisation
 * (http://openweb.eu.org/openwebgroup/licence/), les éléments
 * graphiques et le design du site (et donc cette feuille de styles CSS
 * et les images) restent la propriété exclusive de leurs auteurs
 * respectifs conformément aux droits d'auteur. Toute réutilisation
 * devra faire l'objet d'une demande préalable
 * (email:editorial@openweb.eu.org).
 * Il est de plus dans votre intêret d'avoir un site au design original,
 * pour qu'il ait sa propre identité visuelle, plutôt qu'un design
 * plagié...
 */
body{
font-family:Arial,Verdana,sans-serif;
margin:0;
padding:0;
background-color:#99CC66;
color:#333333;
}

a{
color:#cc3366;
text-decoration:none;
}

a,img{
border-style:none;
}

a:hover{
text-decoration:underline overline;
}

h1{
margin:0;
padding:0;
text-align:right;
font-size:150%;
}

h2{
font-size:135%;
}

h3{
font-size:120%;
}

h4{
font-size:105%;
}

q{
quotes:none;
}

acronym.premier{
border-bottom:1px dashed #333333;
cursor:help;
}

div.abstract{
margin:0;
padding:0.5ex;
border-right:1px solid #9999CC;
}

#texte div.abstract ul{
float:left;
padding:0.5ex;
margin:-0.5ex 0.5ex 0.5ex -0.5ex;
list-style-type:none;
border-bottom:1px solid #9999CC;
}

#texte div.abstract h3{
margin:0;
padding:0;
color:#9999CC;
font-size:100%;
font-family:inherit;
}

#texte div.abstract strong{
color:#9999CC;
}

#texte div.abstract p{
padding:0;
margin:0;
text-indent:0;
}

#texte div.abstract p:first-letter{
padding:0;
margin:0;
text-indent:0;
font-size:100%;
font-family:inherit;
font-weight:normal;
}

hr{
display:none;
}

h1,h2,h3,h4,h5,h6{
color:#000000;
font-family:Georgia,Times,serif;
}

h2{
color:#669900;
}

#logo,#texteaccueil,#texte{
background-color:#CCCCFF;
padding:1%;
margin:0;
}

#logo{
background-color:#9999CC;
background-image:url("points.png");
background-position:top left;
background-repeat:repeat-y;
position:absolute;
top:0;
right:0;
width:75%;
height:120px;
}

#logo h1{
padding:0;
margin:0;
}

#texteaccueil,#texte{
background-image:url("fond.png");
background-repeat:no-repeat;
background-position:bottom right;
width:75%;
position:absolute;
top:120px;
right:0;
}

#texteaccueil ul,#texte ul{
list-style-type:square;
}

#texteaccueil h2,#texte h2{
text-align:center;
border-style:none;
color:#9999CC;
}

#texte p{
text-indent:1em;
text-align:justify;
}

#texte p:first-letter{
font-size:120%;
font-family:Georgia;
font-weight:bold;
}

#texteaccueil h2{
text-align:right;
}

#accessible,#moteur,#menus,#ours{
background-image:url("cercles.png");
background-repeat:no-repeat;
background-position:center center;
padding:1%;
margin:0;
width:20%;
height:auto;
}

#accessible,#moteur,#menus,#ours{
float:left;
clear:left;
}

#menus,#moteur,#ours{
border-top:2px dotted #669900;
}

#accessible ul,#menus ul,#ours ul{
padding:1em 0;
margin:0;
list-style-type:none;
}

#accessible h2,#menus h2{
padding:0;
margin:0;
}
